body {
    font-family: sans-serif;
    color: #333;
    background-color: rgb(221, 221, 221);
}

.call {
    background-color: #1990ff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 300px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 2;
    animation: callme 1s infinite;
}

.call2 {
    border: 1px #84c0f4 solid;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    animation: callme2 1s infinite;
    z-index: 1;
    bottom: 5%;
    right: 5%;
    position: fixed;
    background-color: #84c0f4;
}

.call .call1 {
    padding: 18% 0% 0 22%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
    font-size: 25px;
    color: #fff;
}

@keyframes callme2 {
    0% {
        transform: scale(1.1);
        opacity: 0.9;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes callme {
    10% {
        transform: rotatez(-30deg)
    }
    20% {
        transform: rotatez(15deg)
    }
    35% {
        transform: rotatez(-30deg)
    }
    60% {
        transform: rotatez(0deg)
    }
}

/* ==Menu== */

@keyframes key2 {
    50% {
        transform: rotatex(1turn);
    }
    80% {
        transform: rotatey(3turn);
    }
}

.header img {
    width: 4%;
    position: absolute;
    top: 0;
    left: 13%;
    animation: key2 10s infinite;
}

.header ul {
    list-style-type: none;
    background: rgb(221, 221, 221);
    text-align: center;
    background-image: url("../img/hinh2.png");
}

.header ul li {
    margin: 0% 5% 0% 0%;
    display: inline-table;
    max-width: 250px;
    height: 80px;
    line-height: 80px;
    position: relative;
}

.header :hover {
    color: rgb(238, 49, 49);
}

.header ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.header .sub ul li a:hover {
    color: rgb(238, 49, 49);
}

.header ul li>.sub {
    display: none;
    list-style-type: none;
    text-align: center;
    width: 200%;
    z-index: 3;
}

.header ul li:hover .sub {
    display: block;
    position: absolute;
}

/* ==Menu== */

.slide img {
    max-width: 100%;
}

.khoangcach {
    border-bottom: 1.3px dotted #333333;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}

.sp .an{
    display: inline-table;
    margin: 0% 0% 3% 5%;
    
}
.sp .tensp p {
    font-size: 22px;
    color: #D40005;
    font-weight: bold;
    text-transform: capitalize;
}

.sp .tensp {
    margin: 1% 0% 0% 48%;
}

.sp .tensp span {
    font-size: 18px;
    color: #333;
    padding: 9% 0% 0% 0%;
    display: inline-block;
}


.sp .monan {
   
    max-width: 37%;
    overflow: hidden;
    max-height: 50%;
    margin: -5.6% 0% 0% -4%;
    

}
.sp .monan img {
    width: 100%;
    height: 30%;
    
    transition: all .3s linear;

    
}
.sp {
   
    max-width: 60%;
    margin: -10% 0% 0% 30%;
   max-height: 60%;
}
.sp .monan img:hover {
    opacity: 0.8;
    transform: scale(1.15);
}
#ds{
   
    max-width: 20%;
    max-height: 100%;
    margin: 2% 0% 0% 1%;
    list-style-type: none;
}
#ds p{
    
    background-color: #444444;
    height: 6%;
    padding: 0% 0% 0% 6%;
    font-size: 18px;
    color: #f1f1f1;
    text-transform: uppercase;
    line-height: 55px;
}
#ds ul li{
    margin: 5% 0% 5% 15%;
    
}
#ds ul li a{
    text-decoration: none;
    color: #444444;
}
#ds ul li :hover{
    color:#F4773C;
}

.boxa {
    position: relative;
    background-image: url("../img/hinh3.png");
    background-color: #D40005;
    height: 35%;
}

.boxa .box1 dl {
    width: 40%;
    margin: 0% 0% 0% 15%;
    color: #f1f1f1;
}

.boxa .box1 dl dt {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
    margin: 10% 0% 5% 0%;
    display: inline-block;
}

.boxa .box2 img {
    position: absolute;
    top: -11%;
    right: 15%;
    MAX-WIDTH: 20%;
    
}

.boxc {
    position: relative;
    margin-top: 5%;
    background-image: url("../img/hinh3.png");
    background-color: #D40005;
    height: 35%;
}

.boxc .box1 dl {
    width: 40%;
    margin: 0% 0% 0% 15%;
    color: #f1f1f1;
}

.boxc .box1 dl dt {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
    margin: 10% 0% 5% 0%;
    display: inline-block;
}

.boxc .box2 img {
    position: absolute;
    top: 12%;
    right: 20%;
    box-shadow: -9px 10px 25px 4px;
    width: 8%;
}

.footer {
    background-color: #222222;
    max-width: 100%;
    max-height: 100%;
    margin: 1% 0% 0% 0%;
}

.footer .row {
    display: inline-table;
    width: 20%;
    height: 30%;
    color: #5E5E5E;
    margin: 3% 0% 0% 4%;
}

.footer .row ul li {
    list-style-type: none;
}

.footer .row2 ul li {
    padding: 10% 0% 0% 3%;
}

.footer .row3 ul li {
    padding: 10% 0% 0% 3%;
}

.footer .row4 ul li {
    padding: 10% 0% 0% 3%;
}

.footer .row1 ul p {
    color: #5E5E5E;
}

.footer .row1 img {
    animation: key2 10s infinite;
    width: 80%;
}

.footer .row2 ul span {
    width: 100px;
    color: #f1f1f1;
    font-size: 22px;
}

.footer .row2 ul li a {
    text-decoration: none;
    color: #5E5E5E;
}

.footer .row2 ul li :link {
    color: #5E5E5E;
}

.footer .row2 ul li :hover {
    color: #F4773C;
}

.footer .row3 ul span {
    width: 100px;
    color: #ffffff;
    font-size: 22px;
}

.footer .row4 ul span {
    width: 100px;
    color: #f1f1f1;
    font-size: 22px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}